html, body {
    height: 100%;
}

.pageBackground {
    background: linear-gradient(to right, #465ada, #303ce0);
}

.mainDiv{
    display: flex;
    flex-direction:row;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.sectionsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: transparent;
    border: 2px solid #ffffff30;
    border-radius: 10px;
    height: 100%;
}

.sectionsDiv__title{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
    font-family:'Courier New';
    user-select: none;
}

.sectionsDiv__separator{
    border: none;
    width: 97%;
    height: 2px;
    background: linear-gradient(to right, #71b0f8, #4c9df8, #71b0f8, transparent);
    border-radius: 5px;
    margin-top: -5px;
    margin-bottom: 15px;
}

.sectionsDiv__sectionButton{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 35px;
    width: 95%;
    background-color: transparent;
    border-radius: 10px;
    border: 0px solid transparent;
    margin-top: 5px;
    transition-duration: 100ms;
}

.sectionsDiv__sectionButton:hover{
    background-color: #ffffff20;
    cursor: pointer;
    transform: scale(1.03);
}

.sectionsDiv__sectionButton:active{
    background-color: #ffffff10;
    cursor: pointer;
    transform: scale(1.02);
}

.sectionsDiv__sectionButtonText{
    text-align: left;
    user-select: none;
}

.sectionsDiv__goBack{
    display: inline-block;
    margin-right: 30%;
    margin-top: 190%;
    font-size: 20px;
    justify-content: left;
}

.contentDiv{
    width: 70%;
    height: 100%;
    padding-right: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: transparent;
}

.contentDiv::-webkit-scrollbar{
    width: 10px;
}

.contentDiv::-webkit-scrollbar-track{
    background: transparent;
}

.contentDiv::-webkit-scrollbar-thumb{
    background: #00000040;
    border-radius: 20px;
}

.contentDiv__title{
    font-family: 'Segoe UI', sans-serif;
    font-size: 40px;
    margin-top: 5px;
}

.contentDiv__text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 0px;
}

@media (min-width: 901px){
    .sectionsDiv__sectionButtonText{
        font-size: 18px;
    }

    .sectionsDiv__title{
        font-size: 25px;
    }
}

@media (max-width: 1200px){
    .sectionsDiv__sectionButtonText{
        font-size: 14px;
    }

    .sectionsDiv__title{
        font-size: 18px;
    }
}

@media (max-width: 1000px){
    .sectionsDiv__title{
        font-size: 14px;
        }

    .sectionsDiv__sectionButtonText{
        font-size: 12px;
    }
}

@media (max-width: 600px){
    .sectionsDiv__title{
        font-size: 12px;
        }

    .sectionsDiv__sectionButtonText{
        font-size: 10px;
    }

    .sectionsDiv__goBack{
        padding-top: 160%;
        font-size: 8px;
    }

    .contentDiv__title{
        font-size: 25px;
    }
    
    .contentDiv__text{
        font-size: 20px;
    }
}